<h1>Feeder Cows</h1>

<% @feeder_cows.each do |feeder| %>
  <%= feeder.tag_number %>
  Weight -- <%= feeder.feeder_weights.first.weight %>
  Lot -- <%= link_to feeder.residence.name, admin_residence_path(feeder.residence) %>
  <% if current_admin %>
    <small><%= link_to "Delete", admin_feeder_cow_path(feeder), method: :delete %></small>
    <small><%= link_to "Edit", edit_admin_feeder_cow_path(feeder) %></small>
  <% end %><br />
<% end %>

<% if current_admin %>
  <%= render partial: 'admin/feeder_cows/forms' %>
<% end %>
