
<h1>Edit this pasture</h1>

<%= form_for [:admin, @residence] do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :max_capacity %>
<%= f.text_field :max_capacity %>

<%= f.label :image_path %>
<%= f.text_field :image_path %>

<%= f.submit %>
<% end %>
