<h1>Edit this company</h1>


<%= form_for [:admin, @company] do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.submit "Update" %>
<% end %>
